@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Yanone+Kaffeesatz:wght@300;400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

$main-color: #141c2a;
$secondary-color:#1c1c2b;
$third-color: #2b292c;
$attachment-color: #df1233;
$attachment-2-color: #742433;
$special-color: #f7b658;