* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
}

#dvCSV{
    display: table;
    margin: 0 auto;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

table {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}
  
th, td{
    padding: 8px;
}
  
tr:nth-child(even){
    background-color: #f2f2f2
}

tr:nth-child(1){
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

tr:not(:nth-child(1)){
    opacity: 0.6;
}

tr:hover{
    opacity: 1;
}