.YOLOWrapper {
  .title {
    text-align: center;
    margin: 10px;
    h2 {
      margin: 5px;
      padding: 0;
    }

    p {
      margin: 5px 0;
      font-size: small;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main {
      width: 100%;
      margin: 0;
      position: relative;

      img {
        margin: 0;
        width: 100%;
        max-width: 640px;
        border-radius: 10px;
        border: 2px solid black;
      }

      video {
        margin: 0;
        width: 100%;
        border-radius: 10px;
        border: 2px solid black;
      }

      canvas {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 2px solid black;
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
      }
    }

    .btnWrapper {
      margin: 5px 0;

      button {
        text-decoration: none;
        font-weight: 500;
        margin: 3px 5px;
        padding: 7px;
        border-radius: 5px;
        cursor: pointer;
        border: 2px solid black;
      }

      .nonActive {
        color: white;
        background-color: black;

        &:hover {
          color: black;
          background-color: white;
        }

        &:disabled {
          cursor: context-menu;
          color: white;
          background-color: grey;
        }
      }

      .Active {
        color: black;
        background-color: white;
      }
    }

    .prediction {
      text-align: center;
      font-weight: 600;
      margin: 10px;
    }
  }
}
