.dsWrapper {
  .title {
    text-align: center;
    margin: 10px;
    h2 {
      margin: 5px;
      padding: 0;
    }

    p {
      margin: 5px 0;
      font-size: small;
    }
  }

  .content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .canvas {
      margin: 10px 0;
    }

    .chart {
      margin: 10px 0;
      width: 300px;
      height: 250px;
    }
  }

  .prediction {
    text-align: center;
    font-weight: 600;
    margin: 10px;
  }

  .button {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    button {
      text-decoration: none;
      color: white;
      background-color: black;
      border: 2px solid black;
      font-weight: 500;
      margin: 3px 10px;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        color: black;
        background-color: white;
        border: 2px solid black;
      }
    }

    .loading {
      background-color: gray;

      &:hover {
        background-color: gray;
      }
    }
  }
}
