.ds-wrapper {
  .title {
    text-align: center;
    margin: 10px;
    h2 {
      margin: 5px;
      padding: 0;
    }

    p {
      margin: 5px 0;
      font-size: small;
    }
  }

  .content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .spinner-wrapper {
      background-color: rgba($color: #ffff, $alpha: 0.5);

      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1000;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
      }

      .spinner {
        width: 40px;
        height: 40px;
        background-color: #333;

        margin: 10px 10px;
        -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
        animation: sk-rotateplane 1.2s infinite ease-in-out;
      }

      @-webkit-keyframes sk-rotateplane {
        0% {
          -webkit-transform: perspective(120px);
        }
        50% {
          -webkit-transform: perspective(120px) rotateY(180deg);
        }
        100% {
          -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
        }
      }

      @keyframes sk-rotateplane {
        0% {
          transform: perspective(120px) rotateX(0deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        }
        50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        }
        100% {
          transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
          -webkit-transform: perspective(120px) rotateX(-180deg)
            rotateY(-179.9deg);
        }
      }
    }

    .canvas {
      margin: 10px 0;
    }

    .chart {
      margin: 10px 0;
    }
  }

  .prediction {
    text-align: center;
    font-weight: 600;
    margin: 10px;
  }

  .button {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    button {
      text-decoration: none;
      color: white;
      background-color: black;
      border: 2px solid black;
      font-weight: 500;
      margin: 3px 10px;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        color: black;
        background-color: white;
        border: 2px solid black;
      }
    }

    .loading {
      background-color: gray;

      &:hover {
        background-color: gray;
      }
    }
  }
}
