.SADWrapper {
  .title {
    text-align: center;
    margin: 10px;
    h2 {
      margin: 5px;
      padding: 0;
    }

    p {
      margin: 5px 0;
      font-size: small;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      width: 400px;
      padding: 0 10px;
    }
  }
}
