.wrapper {
  position: fixed;
  top: 7;
  right: 0;
  margin-right: 25px;
  padding: 10px;
  z-index: 1000;
  border: 2px solid black;
  border-radius: 10px;

  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
  }

  .main {
    width: 226px;
    height: 276px;

    .title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .list {
      font-size: 14px;
      max-height: 210px;
      overflow-y: auto;
      list-style-type: none;

      a {
        cursor: pointer;
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: ghostwhite;
      }

      &::-webkit-scrollbar-thumb {
        height: 10%;
        background-color: black;
        border-radius: 20px;
        border: 3px solid ghostwhite;
      }
    }
  }
}
